<div class="container">
    <div class="menu">
        <a href="/" title="BookingSync">
            <img src="//cdn.bookingsync.io/libs/clearbox/1.1.0/assets/images/bookingsync.svg" alt="BookingSync" width="178" height="22">
        </a>
    </div>
    <div class="body">
        {{outlet}}
    </div>
</div>